* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh;
}

.container {
    margin: 4rem;
}

.calculator {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    margin: 0 auto;
    width: 23rem;
    height: 35rem;
    border: 1px solid black;
    border-radius: 12px;
    padding: 1.5rem;
}

.screen {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    height: 5.8rem;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 0.3rem;
}

.buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    height: fit-content;
    
}

.button-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-row button {
    border: none;
    outline: none;
    cursor: pointer;
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 50%;
}